<div class="login-container" [@fadeIn]>
    <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" #user>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" #password>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login(user.value, password.value)">
      Iniciar Sesión
  </button>
</div>
