<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="login-wrapper">
    <div class="login-box">
        <h1>Iniciar Sesión</h1>
        <div class="input-group">
            <input type="text" #user placeholder="E-mail" required>
        </div>
        <div class="input-group">
            <input [type]="hide ? 'password' : 'text'" #password placeholder="Contraseña" required>
            <button class="toggle-password" (click)="hide = !hide">
              <span class="material-icons">{{ hide ? 'visibility_off' : 'visibility' }}</span>
          </button>
            <div *ngIf="showError" class="error-message">Validación incorrecta</div>
        </div>
        <button (click)="login(user.value, password.value)" class="login-btn">Acceder</button>
    </div>
</div>
