<div>
    <h2>Cambiar Contraseña</h2>
    <form (ngSubmit)="changePassword()">
        <div class="form-group">
            <label for="oldPassword">Contraseña Actual</label>
            <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Nueva Contraseña</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
        </div>
        <div class="form-group">
            <label for="repeatPassword">Repetir Contraseña</label>
            <input type="password" id="repeatPassword" name="repeatPassword" [(ngModel)]="repeatPassword" required>
        </div>
        <button type="submit">Cambiar Contraseña</button>
    </form>
</div>
